<h1>Users Index</h1>

<% @users.each do |user| %>
<div class="row">
  <div class= "small-6 large-4 columns">
    <div class="small button round secondary"><%= link_to user.name, user_path(user) %></div>, <%= user.email %>
  </div>
</ol>
<% end %>
